.about {
    &-profile-image {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    }

    &-author-name {
        font-family: $font-sans;
        font-size: 1.5rem;
        margin: 1rem 0;
        text-align: center;
        font-weight: bold;

        &-en {
            font-size: 2rem;
            font-family: $font-sans;
            font-weight: 600;
        }
    }

    &-author-job {
        font-family: $font-sans;
        font-color: $color-subtext;
        font-size: 1rem;
        margin: 1rem 0;
        text-align: center;
    }

    &-social-accounts {
      display: table-cell;
      text-align: center;
      i {
        vertical-align: middle;
        margin-right: 0.2rem;
        font-size: 1.7rem;
        @media (max-width: 600px) {
          font-size:2rem;
        }
      }
      a {
        vertical-align: middle;
      }
    }
}
