.about {
    &-profile-image {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    }

    &-author-name {
        font-family: $font-sans;
        font-size: 2rem;
        margin: 1rem 0;
        text-align: center;
        font-weight: bold;

        &-en {
            font-size: 1.5rem;
            font-family: $font-sans;
            font-weight: 600;
        }
    }

    &-author-job {
        font-family: $font-sans;
        font-color: $color-subtext;
        font-size: 1rem;
        margin: 1rem 0;
        text-align: center;
    }
}
