* {
  @include box-sizing;
}

html,
body {
  color: $color-text;
  margin: 0;
  padding: 0;
  font-family: $font-text;
}

html {
  min-height: 100%;
  position: relative;
  font-size:14px;
  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
  line-height: normal;
}

a {
  @include link-transition;
  color: $color-text;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $color-grey;
  font-size: .85em;
  font-style: italic;
  color: $color-grey3;
  margin: .8rem 0;
  line-height: 1.6em;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}
