.catalogue {

    a {
      @include disable-link-transition;
    }

  &-item {
    border-bottom: 1px solid $color-border;
    display: inline-block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    @include date();
    font-size: 1rem;
  }

  &-title {
    @include title();
    display: block;
    margin: .5rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $color-primary;
    display: block;
    width: 2rem;
  }

  p {
    @include text(12pt);
  }
}
