.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

main,
.nav-container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

.nav {
  overflow: auto;
  text-transform: uppercase;

  &-container {
    margin: 1.5rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    display: inline-block;
    margin: 0;
    font-size: 1.3em;
    padding-right: .2rem;
    color: $color-title;
    font-family: $font-montserrat;
    font-weight: 300;
    letter-spacing: 0.2em;
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    letter-spacing: 0.2em;
    display: inline-block;
    padding: 0 2rem 00;

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    font-family: $font-montserrat;
    color: $color-nav-link;
  }
}

.nav {
&-container {
  text-align: left;
}

ul {
  bottom: 0;
  position: absolute;
  right: 0;
}
}

footer {
  font-family: $font-sans;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  height: $footer-height;
  bottom: 0;
  position: absolute;
  background: $color-grey0;

  span {
    color: $color-primary;
    font-size: .8rem;
  }
}
