.post {
  padding-top: 3rem;
  @media (max-width: 600px) {
    padding-top: 1.5rem;
  }

  &-info {
    @include date();
    text-align: center;
    font-size: 1.2rem;

    span {
      font-style: italic;
    }
  }

  &-content {
    @include text();
    padding: {
      top: 2rem;
      bottom: 2rem;
    }

    a {
      text-decoration: underline;
      color: inherit;
    }

    table {
      border-collapse: collapse;
      overflow-x: scroll;
    }

    table, th, td {
      border: 1px solid black;
      font-size: .95em;
      padding: .25rem .5rem;
    }

    tr:nth-child(odd) {
      background-color: #fafafa;
    }

    th {
      background-color: $color-white;
    }

    h1,h2,h3,h4,h5,h6 {
      margin-top: 1.5em;
      margin-bottom: .5em;
    }

    h1 {
      padding-bottom: .2em;
      border-bottom: 1px solid $color-primary;
    }
  }

  &-title {
    @include title(3rem);
    @media (max-width: 600px) {
      font-size:2rem;
    }
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: .4rem solid $color-primary;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
    @media (max-width: 600px) {
      border-top: .3rem solid $color-primary;
    }
  }

  &-profile {
    @include text();
    @include flex();
    padding: 1rem 0;

    &-info {
      padding: 0;
      line-height: 1.4em;
      margin: auto 0;
    }

    p {
      margin: auto;
    }

    img {
      margin-right: .75rem;
      margin-bottom: 0;
      width: 5rem;
    }
    font-size: 12pt;

    &-social-accounts {
      padding-top: 0.25rem;
      a {
        display: table-cell;
        font-size: 1rem;
        padding-right: 0.5rem;
        i {
          vertical-align: middle;
          font-size: 1.3rem;
        }
        span {
          vertical-align: middle;
        }
      }
    }
    &-name{
      &-en{
        font-family: $font-montserrat;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 1.2rem;
      }
    }

    &-job{
    }

  }

  p {
    margin: 0 0 1rem;
  }

  .share-buttons {
    text-align: center;
    line-height: .2rem;
    padding: 20px 0;
    div {
      display: inline-block;
    }

    [class^="social-count-"]{
      font-family: $font-montserrat;
      font-size: 0.8rem;
      line-height: 0rem;
      height:1rem;
    }

    .social-button {
      width:2rem;
      -webkit-border-radius: 1.25rem;
      -moz-border-radius: 1.25rem;
      border-radius: 1.25rem;
      font-size: 1.5rem;

      .fa-hatena::before {
        content: "B!";
        font-family: Verdana;
        font-weight: bold;
      }

      i {
        line-height: 2.38rem;
      }

    }

  }

  .fb_iframe_widget > span {
    vertical-align: baseline !important;
  }

  .pocket-btn > iframe {
    height:20px;
  }

  .footnotes {
    font-size: .85rem;
    p {
      line-height: 1.1em;
      margin-bottom: 0;
    }

    ol {
      padding-left: 2em;
      margin-top:2rem;
    }
  }

}
