.post {

  padding: 3rem 0;

  &-info {
    @include date();
    text-align: center;
    font-size: 1.2rem;

    span {
      font-style: italic;
    }
  }

  &-content {
    @include text();
    padding: {
      top: 2rem;
      bottom: 2rem;
    }
  }

  &-title {
    font-family: $font-sans;
    font-size: 3rem;
    color: $color-title;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: .4rem solid $color-primary;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  .share-buttons {
    text-align: center;
    padding: 20px 0;
    div {
      display: inline-block;
    }
  }

  .fb_iframe_widget > span {
	vertical-align: baseline !important;
  }

  .pocket-btn > iframe {
      height:20px;
  }

}
