.post {

  padding: 3rem 0;

  &-info {
    font-family: $font-saira;
    letter-spacing: .5px;
    text-align: center;
    font-size: 1.2rem;
    color: $color-primary;

    span {
      font-style: italic;
    }
  }

  &-title {
    font-family: $font-sans;
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: .4rem solid $color-primary;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a {
    color: $color-link;
  }

  a:hover {
    text-decoration: underline;
  }

  .share-buttons {
    text-align: center;
    padding: 20px 0;
    div {
      display: inline-block;
    }
  }

  .fb_iframe_widget > span {
	vertical-align: baseline !important;
  }

  .pocket-btn > iframe {
      height:20px;
  }

}
