$color-primary: #0a0a0a;
$color-grey: #e5e5e5;
$color-grey2: #979797;
$color-grey3: #555555;
$color-white: #fff;
$color-shadow: rgba(0, 0, 0, 2);
$color-red: #bf616a;
$color-red2: #EB2142;

$color-text: $color-primary;
$color-code: $color-red;
$color-subtext: $color-grey2;
$color-code-background: #bf616a;
$color-hline: $color-grey;
$color-link: $color-red2;

$font-sans: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$font-mincho: 'Hiragino Mincho ProN', 'ヒラギノ明朝 Pro W6', 'Hiragino Mincho Pro', 'HGS明朝E', 'ＭＳ Ｐ明朝', serif;
$font-saira: 'Saira Extra Condensed', sans-serif;

$font-date: $font-saira;

$monospaced-font: Menlo, Monaco, monospace;

$footer-height: 100px;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
