ol p {
  display: inline-block;
}

ol {
  font-size: .8em;
  padding-left: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin-top: 36px;
}

p {
  line-height: 1.8em;
  box-sizing: border-box;
  display: block;
}
