<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <!-- facebook SDK -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.10';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>
    var LinkType = {
        GitHub: {label: 'github'},
        Twitter: {label: 'twitter'},
        BottomProfile: {label: 'twitter'},
    };
    function sendLinkClickedEvent(linkType){
      ga('send', 'event', 'link', 'clicked', linkType.label, 0, {'nonInteraction':1});
    }
    </script>

    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul class="nav-links-pc">
          <li><a href="{{ site.baseurl }}/">POSTS</a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">ABOUT</a></li>
          <li><a href="{{ site.baseurl }}/feed.xml" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
        </ul>
        <ul class="nav-links-sp">
          <li><a href="{{ site.baseurl }}/"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>
          <li><a href="{{ '/about' | prepend: site.baseurl }}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
          <li><a href="{{ site.baseurl }}/feed.xml" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <!--
    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.nickname }}.
      </span>
    </footer>
    -->

    {% include analytics.html %}
  </body>
</html>
